<!-- Spinner Start -->
<div id="spinner"
  class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- Spinner End -->

<!-- Sidebar Start -->
<div class="sidebar pe-2 pb-3">
  <nav class="navbar bg-secondary navbar-dark">
    <a href="/" style="display: flex; justify-content: center; width: 100%; height: 90px; ">
      <img style="width: 60%" class="img-responsive img-fluid" alt="Responsive image" src="/will.png"
        alt="" />
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
        <img class="rounded-circle" src="/WILL.jpg" alt="" style="width: 40px; height: 40px" />
        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
      </div>
      <div class="ms-3">
        <h6 class="mb-0" id="usernav">adm</h6>
        <span id="perfi">adm</span>
      </div>
    </div>
    <div class="navbar-nav w-100">
      <a href="/" class="nav-item nav-link <%= currentRoute === '/' ? 'active' : '' %>""><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
      <a href="/usuarios" class="nav-item nav-link <%= currentRoute === '/usuarios' ? 'active' : '' %>"><i class="fi fi-sr-users-alt me-2"></i>Usuarios</a>
      <a href="/ministerios" class="nav-item nav-link <%= currentRoute === '/ministerio' ? 'active' : '' %>"><i class="fi fi-sr-scale me-2"></i>Ministerio</a>
      <a href="/miembros" class="nav-item nav-link <%= currentRoute === '/miembro' ? 'active' : '' %>"><i class="fi fi-sr-category-alt me-2"></i>Miembro</a>
      <a href="/listas" class="nav-item nav-link <%= currentRoute === '/lista' ? 'active' : '' %>"><i class="fi fi-sr-boxes me-2"></i>Listas</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle <%= ['/tipo_ingresos', '/nueva-venta', '/ingresos'].includes(currentRoute) ? 'active' : '' %>" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Registro
          Ingresos</a>
        <div class="dropdown-menu bg-transparent border-0">
          <a href="/tipo_ingresos" class="dropdown-item <%= currentRoute === '/tipo_ingreso' ? 'active' : '' %>">Tipos Ingresos</a>
          <a href="/nueva-venta" class="dropdown-item <%= currentRoute === '/nueva-venta' ? 'active' : '' %>">Nueva venta</a>
          <a href="/ingresos" class="dropdown-item <%= currentRoute === '/ingresos' ? 'active' : '' %>">Ingresos</a>
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle <%= ['/tipo_egresos', '/nueva-compra', '/compras'].includes(currentRoute) ? 'active' : '' %>" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Registro
          Compras</a>
        <div class="dropdown-menu bg-transparent border-0">
          <a href="/tipo_egresos" class="dropdown-item <%= currentRoute === '/tipo_egreso' ? 'active' : '' %>">Tipos Egresos</a>
          <a href="/nueva-compra" class="dropdown-item <%= currentRoute === '/nueva-compra' ? 'active' : '' %>">Nueva compra</a>
          <a href="/compras" class="dropdown-item <%= currentRoute === '/compras' ? 'active' : '' %>">Compras</a>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- Sidebar End -->