<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <%- include('partials/links/links') %>
  </head>

  <body>
    <!-- Form Registro Start-->
    <div id="myForm"
      class="visual position-absolute top-50 start-50 translate-middle bg-secondary rounded col-sm-12 col-xl-5">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Registrar cliente</h6>
        <form id="form">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" required />
          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="apellido" required />
          </div>
          <div class="mb-3">
            <label for="NIT" class="form-label">NIT:</label>
            <input type="text" class="form-control" id="NIT" required />
          </div>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
      </div>
    </div>
    <!-- Form Registro End-->

    <!-- Content Padre Start -->
    <div class="container-fluid position-relative d-flex p-0 padre">
      <%- include('partials/navegacion/sidebar') %>
      <!-- Content Start -->
      <div class="content position-relative">
        <%- include('partials/navegacion/navbar') %> 
        
        <!-- Chart Start -->
      <div class="container-fluid pt-4 px-4" id="chart">
        <div class="row g-4">
          <div class="bg-secondary rounded p-4 col-12 d-flex justify-content-between align-items-center">
            <h6 class="mb-0">Nueva Venta</h6>
            <button class="btn btn-primary" id="btnAgregarUsuario">Registrar Cliente</button>
          </div>
        </div>
      </div>

      <div class="container-fluid pt-4 px-4" id="chart">
        <div class="row g-4 mb-4">
          <form class="bg-secondary rounded p-4 col-12" id="buscarcliente">
            <!-- Top div with title and button -->
            <div class="d-flex align-items-center gap-3 mb-4">
              <h6 class="mb-0">Datos Cliente</h6>
              <button class="btn btn-primary" id="btnBuscarCliente">Bucar cliente</button>
            </div>
            <!-- Responsive Horizontal Form -->
            <div>
              <div class="row mb-3">
                <div class="col-md-4 mb-3">
                  <label for="inputNombre" class="form-label">NIT:</label>
                  <select class="form-select" id="nitcliente" required>
                    <option value="lol">lol</option>
                  </select>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="inputApellido" class="form-label">Nombre:</label>
                  <input type="text" class="form-control" id="nombrecliente">
                </div>
                <div class="col-md-4 mb-3">
                  <label for="inputApellido" class="form-label">Apellido:</label>
                  <input type="text" class="form-control" id="apellidocliente">
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="row g-4 mb-4">
          <div class="bg-secondary rounded p-4 col-12">
            <!-- Top div with title and button -->
            <form class="d-flex align-items-center gap-3 mb-4" id="buscarproducto">
              <h6 class="mb-0">Buscar Producto</h6>
              <button class="btn btn-primary" id="btnBuscarProducto">Buscar producto</button>
            </form>
            <!-- Responsive Horizontal Form -->
            <form id="agregarproducto">
              <div class="row mb-3">
                <div class="col-md-4 mb-3">
                  <label for="inputNombre" class="form-label">Nombre producto:</label>
                  <select class="form-select" id="producto" required>
                  </select>
                </div>
                <div class="col-md-1 mb-3">
                  <label for="inputApellido" class="form-label">Stock:</label>
                  <input type="text" class="form-control pe-none" id="stock" placeholder="0">
                </div>
                <div class="col-md-1 mb-3">
                  <label for="inputApellido" class="form-label">Cantidad:</label>
                  <input type="text" class="form-control" id="cantidad" placeholder="0">
                </div>
                <div class="col-md-2 mb-3">
                  <label for="inputApellido" class="form-label">Precio unitario:</label>
                  <input type="text" class="form-control pe-none" id="preciounitario" placeholder="0.00">
                </div>
                <div class="col-md-2 mb-3">
                  <label for="inputApellido" class="form-label">Precio total:</label>
                  <input type="text" class="form-control pe-none" id="preciototal" placeholder="0.00">
                </div>
                <div class="col-md-2 mb-3">
                  <label for="inputApellido" class="form-label">Accion:</label>
                  <br>
                  <button class="btn btn-primary" >Agregar producto</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row g-4">
          <div class="bg-secondary text-center rounded p-4">
            <div class="table-responsive">
              <table id="myTable" class="table align-middle table-bordered table-hover mb-0">
                <thead>
                  <tr class="text-white">
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Precio Total</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody id="productos">
                  
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4" class="text-end">Sub_Total S/.</td>
                    <td colspan="2" id="subTotal">0.00</td>
                  </tr>
                  <tr>
                    <td colspan="4" class="text-end">Igv (1.18%)</td>
                    <td colspan="2" id="igv">0.00</td>
                  </tr>
                  <tr>
                    <td colspan="4" class="text-end">Total S/.</td>
                    <td colspan="2" id="total">0.00</td>
                  </tr>
                </tfoot>
              </table>
              <div class=" mb-3">
                <br>
                <form class="d-flex justify-content-end" id="generarventa">
                  <button class="btn btn-primary" >Generar venta</button>
                </form>
              </div>
          </div>
        </div>

      </div>
        
        <%- include('partials/footer/footer') %>
      </div>
      <!-- Content End -->
      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
      <!-- Back to Top -->
    </div>
    <!-- Content Padre End -->
    <%- include('partials/scripts/scripts') %>
    <script>
      // JavaScript para mostrar/ocultar el formulario
      document.addEventListener("DOMContentLoaded", function () {
        const btnAgregarUsuario = document.querySelector("#btnAgregarUsuario");
        const formAgregarUsuario = document.querySelector("#myForm");
        const contenidoPadre = document.querySelector(".padre");
  
        btnAgregarUsuario.addEventListener("click", function (event) {
          event.stopPropagation(); // Detiene la propagación del evento
          formAgregarUsuario.classList.add("visuali"); // Muestra el formulario con animación
          contenidoPadre.classList.add("blur"); // Aplica el efecto de desenfoque al contenedor padre
        });
  
        formAgregarUsuario.addEventListener("submit", function (event) {
          event.stopPropagation(); // Detiene la propagación del evento
          formAgregarUsuario.classList.remove("visuali"); // Oculta el formulario después de enviarlo
          contenidoPadre.classList.remove("blur"); // Elimina el efecto de desenfoque del contenedor padre
          // Aquí puedes agregar código para manejar el envío del formulario
        });
  
        window.addEventListener("click", function (event) {
          if (
            !event.target.matches("#btnAgregarUsuario") &&
            !formAgregarUsuario.contains(event.target) &&
            !event.target.closest(".select2-container")
          ) {
            if (formAgregarUsuario.classList.contains("visuali")) {
              formAgregarUsuario.classList.remove("visuali"); // Quita la clase para ocultar el formulario
              contenidoPadre.classList.remove("blur"); // Elimina el efecto de desenfoque del contenedor padre
            }
          }
        });
  
      });
    </script>
    <script src="/js/nueva_venta.js"></script>
  </body>
</html>
